* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#newspaper {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    padding: 20px 0;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid #000;
}

#date, #url {
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
}

#name {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
main{
    max-width: 1200px;
    margin: 0px;
}
#highlight-title{
    margin-top: 50px;
    font-size: 34px;
    color: #03045e;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 3px solid greenyellow;
}
#article{
    box-shadow: 1px 2px 10px black;
    border-radius: 30px;
    padding:40px;
    margin: 10px;
    display: flex;
    margin-top:50px ;
}
#article img{
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin-right: 45px;
}
#news a:link{
    text-decoration: none;
    color:blue;
}
#news a:hover{
    text-decoration: underline;
    color:red;
}
#news p{
    margin-top: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}
footer {
    max-width: 1200px;
    margin: 40px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid;
}
footer a {
    text-decoration: none;
    font-weight: 600;
    padding: 8px 15px;
    background-color: greenyellow;
    border-radius: 5px;
}
footer a:hover {
    background-color: skyblue;
    box-shadow: 1px 1px 5px black;
}